.footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.footer a {
  padding: 1rem;
}

.footer a:hover {
  background: none;
}

@media (min-width: 576px) {
  .footer {
    margin-top: 2rem;
  }
}
