@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");

@font-face {
  font-family: blanka;
  src: url(./fonts/Blanka-Regular.otf);
}

:root {
  --primary-color: #513d2a;
  --secondary-color: #a98b6f;
  --tertiary-color: #9a7e64;
  --white-color: #fbfbfb;
  --black-color: #222222;
  --gray-color: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--white-color);
}

ul,
ol,
li {
  text-decoration: none;
  list-style: none;
}

a,
button {
  background: none;
  color: inherit;
  text-decoration: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
}

button,
a {
  padding: 1rem;
  display: block;
  transition: all 0.5s ease;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.125rem;
}
