@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");

:root {
  --primary-color: #513d2a;
  --secondary-color: #a98b6f;
  --tertiary-color: #9a7e64;
  --white-color: #fbfbfb;
  --black-color: #222222;
  --gray-color: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--white-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  text-decoration: none;
  list-style: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
}
