.image_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  width: 90%;
}

@media (min-width: 768px) {
  .image_container {
    width: 100%;
    gap: 2rem;
  }
  .image_column {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media (min-width: 992px) {
  .image_column {
    width: 30%;
  }
}
