.image {
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 768px) {
  .image {
    overflow: hidden;
    cursor: zoom-in;
    position: relative;
  }

  .image_img,
  .image_img::after {
    transition: 525ms ease all;
  }

  .image:hover .image_img {
    transform: scale(1.01);
  }

  .image:hover .image_img::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--black-color);
    opacity: 0.3;
  }
}

.image_share_bar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.image_share_bar > a {
  border: 1px solid var(--fifth-color);
  color: var(--fifth-color);
}

.image_share_bar > a:hover {
  background: none;
  color: var(--black-color);
  border: 1px solid var(--black-color);
}

@media screen and (min-width: 768px) {
  .image_share_bar {
    position: absolute;
    z-index: 10;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    transition: 525ms ease all;
    opacity: 0;
    visibility: hidden;
    border-radius: 2px;
    padding: 0;
  }

  .image_share_bar > a {
    border: 1px solid var(--white-color);
    background: var(--white-color);
    color: var(--black-color);
    padding: 0.5rem 1rem;
  }

  .image_share_bar > a:hover {
    background: var(--black-color);
    color: var(--white-color);
    border: 1px solid var(--black-color);
  }

  .image:hover .image_share_bar {
    opacity: 1;
    visibility: visible;
  }
}
