.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  min-height: 70vh;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: showUp 350ms;
}

@keyframes showUp {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(80px);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
